html,body {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    flex-wrap: wrap;
    background:#E8E8E8 ;
}
a{
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    height: 15%;
    width: 100%;
    margin: 0;
    justify-content: space-between;
    align-content: center;
    background-color: white;
}

.logo_gouv {
    height: 80%;
    margin: 15px;
}

#help {
    display: flex;
    align-items: center;
    margin: 15px;
    cursor: pointer;
    border: 0px;
    background-color: #FFFFFF;

}

.text_help {
    text-align: center;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: black;
}

.logo_help {
    height: 40%;
    margin-left: 5px;
}

.title {
    display: flex;
    height: 10;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 46px;
}

.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: #E8E8E8;
    
    width: 100%;
    height: 80%;
}

.espace:hover {
    height: 30%;
}

.espace {
    transition: 0.2s;
    display: flex;
    align-items: center;
    width: 90%;
    height: 18%;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 5px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 46px;
    cursor: pointer;
    }

.text_inner_espace {
    padding-left: 70px;
}
/* pour le login*/
.login-box{
    position: absolute;
    width: 250px;
    height: 400px;
    padding-left: 70px;
    padding-right: 70px;
    top: 30%;
    left: 35%;
    transform: translate(-50% -50%);
    border: 1px solid black ;
    border-radius: 15px;
    background: white;
}
h2{
    text-align: center;
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}
form{
     text-align: center;
}
.login-box .user-box input{
    position: relative;
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    color: black;
    margin-bottom: 30px;
    margin-top: 30px;
    border: none;
    border-bottom: 2px solid #E31805;
    outline: none;
    background: transparent;

}
.login-box .forgot{
   position: absolute;
   bottom: 120px;
   left: 120px;
}
.login-box .forgot a {
    text-decoration: #185184 underline;
}
.btn-form{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    position: static;
}
button{
    background: #E31805;
    color: white;
    border-radius: 10px;
    border: 1px solid;
    padding: 10px;
    
}
.btn:hover{
    background:#185184;
}
.login-box .user-box label{
    position: relative;
    left: 0;
    top: -60px;
    padding: 10px 0;
    color: black;
    pointer-events: none;
    transition: 0.5s;
    display: flex;
    justify-content: flex-start;
}
.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label{
    top: -85px;
    left: 0;
    color: black;
    font-size: 20px;
}
@media screen and (max-width: 768px ) {
    .login-box{
        position: absolute;
        width: 250px;
        height: 400px;
        padding-left: 70px;
        padding-right: 70px;
        left: 20%;
        right: 20%;
        border: 1px solid black ;
        border-radius: 15px;
    }
    
} 
/* fin du login */
/* Pour le mot de passe oublié*/
.Password-forgot{
    background: #E8E8E8;
}
.Password{
    position: absolute;
    background: white;
    border: 1px solid black;
    border-radius: 10px;
    width: 250px;
    height: 300px;
    padding: 10px 40px 10px 40px;
    top: 30%;
    left: 38%;
    transform: translate(-50% -50%);
}
.Password-forgot .user-box input{
    position: relative;
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    color: black;
    margin-bottom: 30px;
    margin-top: 30px;
    border: none;
    border-bottom: 2px solid #E31805;
    outline: none;
    background: transparent;

}
.Password-forgot .user-box label{
    position: relative;
    left: 0;
    top: -60px;
    padding: 10px 0;
    color: black;
    pointer-events: none;
    transition: 0.5s;
    display: flex;
    justify-content: flex-start;
}
.Password-forgot .user-box input:focus~label,
.Password-forgot .user-box input:valid~label{
    top: -85px;
    left: 0;
    color: black;
    font-size: 20px;
} 
 .envoyer{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.h2{
    text-align: center;
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}
@media screen and (max-width: 768px ) {
    .Password{
        position: absolute;
        background: white;
        border: 1px solid black;
        border-radius: 10px;
        width: 250px;
        height: 300px;
        padding: 10px 40px 10px 40px;
        left: 20%;
        right: 18%;
    }
    
}
/*Fin du mot de passe oublié*/
.signup{
    position: absolute;
    width: 100%;
    height: 25px;
    margin: 0;
    padding: 0;
    background: #185184;
    color: white;
    text-align: center;
    top: 88px;
    font-size: 20px;
}
.box-formulaire{
   position: absolute;
    border: 1px solid black;
    background: white;
    width: 800px;
    height: 750px;
    top: 19.5%;
    left: 19%;
    padding: 10px;

     
}
.box-formulaire h3 {
    text-align: center;
}
.box-formulaire .input-groupe{
    display: inline-block;
    margin-right: 40px;
    margin-left: 40px;
}
/*icon hidden */
.box-formulaire .input-group > .form-control {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
  }
.box-formulaire .input-group  .input-group-append {
    position: relative;
    width: auto;
    margin-left: -1px;
    flex-shrink: 0;
  }
  .box-formulaire .input-group .input-group-text {
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }
  .box-formulaire .input-group  .input-group-text i {
    cursor: pointer;
  }
  
  .box-formulaire .input-group .input-group-text i.fa-eye-slash {
    visibility: visible;
  }
  
  .box-formulaire .input-group .input-group-text i.fa-eye {
    visibility: hidden;
  }
  
  #password-input[type="password"] {
    padding-right: 35px;
  }
  /* fin de l'icone hiden*/
.box-formulaire .input-groupe input{
    position: relative;
    width: 300px;
    padding: 5px 0;
    font-size: 16px;
    color: #185184;
    margin-bottom: 30px;
    margin-top: 30px;
    border: none;
    border-bottom: 2px solid #E31805;
    outline: none;
    background: transparent;
}

.box-formulaire .input-groupe label{
    position: relative;
    left: 0;
    top: -60px;
    padding: 10px 0;
    color: black;
    pointer-events: none;
    transition: 0.5s;
    display: flex;
    justify-content: flex-start;
}

.box-formulaire .input-groupe input:focus~label,
.box-formulaire .input-groupe input:valid~label{
    top: -85px;
    left: 0;
    color: black;
    font-size: 20px;
}
.condition{
   position: absolute;
   bottom: 100px;
   left: 65px;
 
}
.submit {
    position: absolute;
    bottom: 99px;
    right: 65px;
}
.box-formulaire .créer{
    border-radius: 10px;
    background-color: #E31805;
    color: white;

}
.box-formulaire .submit .send{
    background: red;
    color: white;
    border: 1px solid white;
    width: 90px;
    height: 30px;
    border-radius: 10px;
  
}
.box-formulaire .submit .send :hover{
    background: #185184;
}




