html,body {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    flex-wrap: wrap;
}

header {
    display: flex;
    height: 15%;
    width: 100%;
    margin: 0;
    justify-content: space-between;
    align-content: center;
}

.logo_gouv {
    height: 90%;
    margin: 15px;
}

#help {
    display: flex;
    align-items: center;
    margin: 15px;
    cursor: pointer;
    border: 0px;
    background-color: #FFFFFF;

}

.text_help {
    text-align: center;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
}

.logo_help {
    height: 40%;
    margin-left: 5px;
}

.title {
    display: flex;
    height: 10;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 46px;
}

.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: #E8E8E8;
    
    width: 100%;
    height: 80%;
}

.espace:hover {
    height: 30%;
}

.espace {
    transition: 0.2s;
    display: flex;
    align-items: center;
    width: 90%;
    height: 18%;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 5px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 46px;
    cursor: pointer;
    }

.text_inner_espace {
    padding-left: 70px;
}